/* Define standard variables and values for website */
$bgcolor: lightblue;
$textcolor: darkblue;
$body-font: 'Roboto', sans-serif;


/* Use the variables */
body {
  background-color: $bgcolor;
  color: $textcolor;
  font-family: $body-font;

}

header {
    background-color:lightslategrey;
    font-size: 20px;
    font-family: $body-font;
  
}

h1 {
  font-family: $body-font;
  text-align: center;

}


hr {
  border-top: 1px solid black;
  border-color: black;
  background-color: black;
  border-bottom: black;
  color: black;
  
}


img {
  object-fit: cover;
  border: 2px solid black;
  display: block;
  margin-left: auto;
  margin-right:auto;
  margin-top: 20px;


}


